@media (min-height: 700px){
    ion-item.users{
        margin-top: -2%;
    }
}

@media (max-height: 701px){
    ion-item.users{
        margin-top: -13%;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    outline: none;
}

div.container{
    background-image: url("../../../assets/fulbito.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: lightgrey;

    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;

}

form.form{

    color: white;
    font-size: 180%;
}

div.correo{
    margin-top: 25%;
    
}

div.correo, div.pass{
    margin-bottom: 10%;
}

input.correo, input.pass{
    height: 7vh;
    margin-top: 4%;
    width: 80%;
    color: black;
    text-align: center;
    font-size: 70%;
    font-weight: bold;
    border-radius: 5px;
    border: dotted 3px black;
    background-color: rgb(178, 251, 187);
}


button.ingresar, button.limpiar{
    font-size: 100%;
    color: black;
    width: 40%;
    margin-bottom: 5%;
    height: 7vh;
    outline: none;
    border-radius: 5px;
    background-color: rgb(178, 251, 187);
    border: dotted 3px black;
    font-weight: bold;
    margin-top: 3%;
}

button.ingresar{
  margin-right: 2%;
}

input.correo:hover{
  transform: scale(1.1);
}

input.pass:hover{
  transform: scale(1.1);
}


button.ingresar:hover{
    color: white;
    transform: scale(1.1);
}

button.limpiar:hover{
    color: white;
    transform: scale(1.1);
}

div.users{
    color: black;
    font-size: 80%;  
}


/* #region ion-select */

select.users{
    color: black;
    background-color: rgb(178, 251, 187);
    width: 80%;
    height: 7vh ;
    text-align: center;
    justify-content: center;
    --placeholder-color: black;
    --placeholder-opacity: 100%;
    border: dotted 3px black;
    border-radius: 5px;
    text-align: center;

}

div.elegir{
  text-align: center;
  font-size: 70%;
    width: 100% !important;
    max-width: 100% !important;
    --background: transparent;
    justify-content: center;
    --ripple-color: transparent;
      margin-bottom: 3%;
}
/* #endregion */

/* #region spinner */
.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(1, 1, 1, 0.789);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}
.spinner-items {
  
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/logo-TR-50x50.png");
  
  -webkit-animation: spinner-loading linear .8s infinite;
  animation: spinner-loading linear .8s infinite;
}

@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}   
/* #endregion spinner */

div.errorUser{
  font-size: 63%;
  width: 84%;
  height: 7vh;
  background-color: rgba(255, 99, 99, 0.687);
  margin-left: 8%;
  padding-top: 3%;
  margin-bottom: -11%;
  border-radius: 5px;
}

div.errorEmail{
  width: 80%;
  background-color: rgba(255, 99, 99, 0.687);
    margin-left: 10%;
    font-size: 60%;
      border-radius: 5px;

}

div.errorPass{
  width: 80%;
  border-radius: 5px;

  background-color: rgba(255, 99, 99, 0.687);
    margin-left: 10%;
    font-size: 60%;
}

img.tarjetita:hover{
  animation: spinner-loading linear 1s;

}