<div class="container">
  <ion-backdrop class="backdrop" hidden></ion-backdrop>
  <div class="panel" id="panel">
    <span class="titulo">Partidos de Metegol</span>
  </div>
  <div class="atras" (click)="navegar('login')"><ion-icon name="caret-back-circle-outline"></ion-icon></div>
  <div class="panel" id="panelUsuarios" hidden>
    <span class="titulo">Partidos de Metegol</span>
  </div>
  <button (click)="navegar('listado-partidos')">Listado de Partidos</button>
  <button (click)="navegar('top-jugadores')">Top de Jugadores</button>
</div>
<div class="spinner-container" hidden id="casa-usu">
<div class="spinner-items"> 
</div>
</div>