<div class="container">
  <ion-backdrop class="backdrop" hidden></ion-backdrop>
  <div class="atras" (click)="navegar('login')"><ion-icon name="caret-back-circle-outline"></ion-icon></div>
  <div class="panel" id="panel">
    <span class="titulo">Panel de Administrador</span>
  </div>
  <button id="crear" (click)="navegar('partido')">Crear Partido</button>
  <button (click)="navegar('listado-partidos')">Listado de Partidos</button>
  <button (click)="navegar('top-jugadores')">Top de Jugadores</button>
</div>
<div class="spinner-container" hidden id="casa">
<div class="spinner-items"> 
</div>
</div>